<!DOCTYPE html>

<html>

  <head>

    <title>Q | Contribute</title>

    <link rel="shortcut icon" type="image/png" href="static/quotable-website-favicon-color.png"/>

    {% include "bootstrap.html" %}
    
  </head>

  <body>

    {% include "navbar.html" %}

    <div class="container">

      {% include "logo_banner.html" %}
  
      <h2 style="color:rgb(164,55,219);" class="text-center mt-4 mb-4">Join us in spreading inspiration with your favorite quote!</h2>

      <p class="lead justify mb-4">
      Are you a bookworm or a movie buff? Is there a quote that has inspired you, made you laugh, or touched your heart? Share it with us and let's spread the inspiration!
      </p>
  
      <div class="mb-4">

        {% include "newquote.html" %}
      
      </div>

      <br><br>

      <div class="border-bottom row">

        <div class="col-6">
          <p>
            Back to where it all began!
          <button class="btn btn-primary btn-sm" onclick = "window.location.href='/';">HomePage</button>
          </p>
        </div>

        <div class="col-6">
          <p>
            Find your next favorite quote from our curated collection!
            <button class="btn btn-primary btn-sm" onclick = "window.location.href='inspirations.html';">Get Inspired</button>
          </p>
        </div>

      </div>

      {% include "footer.html" %}

    </div>
    
  </body>

</html>