<!DOCTYPE html>

<html>

  <head>
    <title>
      Quotable
    </title>

    <link rel="shortcut icon" type="image/png" href="static/quotable-website-favicon-color.png"/>
    
  </head>

  <body>

    <img src="./static/logo-no-background.png" height=200>
    
    <img src="./static/quotes_banner.jpg">

    <h2>A Community for Sharing Your Favorite Quotes from Books and Movies</h2>

    <p>
      Welcome to Quotable! Are you someone who is constantly mesmerized by the power of words, and inspired by the way they can touch our hearts and minds? Are you looking for a place where you can connect with like-minded individuals and share your love for the written and spoken word? Look no further than Quotable, a vibrant community-driven website that celebrates the art of quotes. Whether it's a line from your favorite romantic comedy that never fails to make you smile, a poignant passage from a classic novel that speaks to your soul, or a wise saying from a self-help book that motivates you to be your best self, Quotable is the perfect place to find inspiration, motivation, or just a good laugh. And the best part? You get to discover new and exciting quotes submitted by other members of the community, expanding your knowledge and appreciation of the written word. So why wait? Join the Quotable community today and start sharing your favorite quotes with us!
    </p>

    <p>Quote of the Day!</p>
    <p>Find your next favorite quote from our curated collection!</p>
    <p>Join us in spreading inspiration with your favorite quote!</p>
  </body>

</html>