<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quotable</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="shortcut icon" type="image/png" href="static/quotable-website-favicon-color.png"/>

    <style>

      .justify {
        text-align: justify;
      }
      
    </style>
    
  </head>

  <body>

    {% include "navbar.html" %}

    <div class="container">

      <div class="text-center my-4">
        <img src="./static/logo-no-background.png" height=200>
      </div>
      
      <img class="img-fluid rounded" id="banner" src="./static/quotes_banner.jpg">
  
      <h2 style="color:rgb(164,55,219);" class="text-center mt-4 mb-2">A Community for Sharing Your Favorite Quotes from Books and Movies</h2>
  
      <p class="lead justify mb-4">
        Welcome to Quotable! Are you someone who is constantly mesmerized by the power of words, and inspired by the way they can touch our hearts and minds? Are you looking for a place where you can connect with like-minded individuals and share your love for the written and spoken word? Look no further than Quotable, a vibrant community-driven website that celebrates the art of quotes. Whether it's a line from your favorite romantic comedy that never fails to make you smile, a poignant passage from a classic novel that speaks to your soul, or a wise saying from a self-help book that motivates you to be your best self, Quotable is the perfect place to find inspiration, motivation, or just a good laugh. And the best part? You get to discover new and exciting quotes submitted by other members of the community, expanding your knowledge and appreciation of the written word. So why wait? Join the Quotable community today and start sharing your favorite quotes with us!
      </p>
  
      <hr>

      <h4 style="color:rgb(164,55,219);" class="text-center">Quote of the Day!</h4>
      <blockquote class="blockquote">
        <p>
          <i>“Even the smallest person can change the course of the future.”</i> – Galadriel <b>[Lord of the Rings]</b>
        </p>
      </blockquote>
  
      <hr>

      <br><br>
      <div class="border-bottom row">

        <div class="col-6">
          <p>
            Find your next favorite quote from our curated collection!
          <button class="btn btn-primary btn-sm" onclick = "window.location.href='inspirations.html';">Get Inspired</button>
          </p>
        </div>

        <div class="col-6">
          <p>
            Join us in spreading inspiration with your favorite quote!
            <button class="btn btn-primary btn-sm" onclick = "window.location.href='contribute.html';">Contribute</button>
          </p>
        </div>

      </div>
      
      <p class="mt-3">
        Help us improve! Share your feedback and suggestions with us by clicking the button here.
      <button class="btn btn-secondary btn-sm" onclick = "window.location.href='mailto:aiquest2606@gmail.com?subject=Quotable%20%7C%20Feedback';">Share your Feedback</button>
      </p>

      <div class="text-center my-4">
        Words always inspire. Always! - <font color=#A437DB>Quotable</font>
      </div>

    </div>
    
  </body>

</html>