<h4>Quotation Submission Form</h4>
<form action="/newquote/submit" method="post">
  <div class="mb-2">
  <label>Quotation Source : Book or Movie</label><br>
  <input type="text" required name="q_category" placeholder="Book">
  </div>

  <div class="mb-2">
  <label>Quotation</label><br>
  <textarea required name="quote" placeholder="To be or not to be, that is the question."></textarea>
  </div>

  <div class="mb-2">
  <label>Speaker</label><br>
  <input type="text" name="q_speaker" placeholder="Prince Hamlet">
  </div>

  <div class="mb-2">
  <label>Quotation Source : Name of the Book or Movie</label><br>
  <input type="text" required name="q_source" placeholder="Hamlet">
  </div>

  <input type="submit">
</form>