<!DOCTYPE html>

<html>

  <head>

    <title>Q | Thanks for your Contribution</title>

    <link rel="shortcut icon" type="image/png" href="static/quotable-website-favicon-color.png"/>

    {% include "bootstrap.html" %}
    
  </head>

  <body>

    {% include "navbar.html" %}

    <div class="container">

      {% include "logo_banner.html" %}
  
      <h2 style="color:rgb(164,55,219);" class="text-center mt-4 mb-4">Your Quotation has been Submitted!</h2>

      <p class="lead justify mb-4">
        Thank you for sharing your favorite quotes with our community! We appreciate your contribution and hope that your words have inspired others as they have inspired us. We are always striving to improve our website and make it the best possible experience for our users. If you have any feedback or suggestions for how we can do better, please don't hesitate to let us know. Your constructive feedback helps us to create a better platform for everyone to enjoy. Thanks again for being a part of our community!
      </p>
  

      <br><br>

      <div class="border-bottom row">

        <div class="col-6">
          <p>
            Back to where it all began!
          <button class="btn btn-primary btn-sm" onclick = "window.location.href='/';">HomePage</button>
          </p>
        </div>

        <div class="col-6">
          <p>
            Find your next favorite quote from our curated collection!
            <button class="btn btn-primary btn-sm" onclick = "window.location.href='inspirations.html';">Get Inspired</button>
          </p>
        </div>

      </div>

      {% include "footer.html" %}

    </div>
    
  </body>

</html>